<div class="list clearboth" data-bind="foreach: streams">
    <div class="list-item">
        
        <div class="image">
            <img data-bind="attr: { 'src': image }" alt="" />    
        </div>
        
        <div class="content">
            <strong data-bind="text: name"></strong>
            <div>
                <div class="button" data-bind="click: $parent.removeRadio">Delete</div>
                <div class="button" data-bind="click: $parent.play">Play</div>
            </div>
        </div>
    </div>
</div>
