<div class="page">
    <div class="page-header">
        <div class="page-header-content">
            <h1>Settings</h1>
        </div>
    </div>

    <div class="button" data-bind="click: grabcover">Grab Cover</div>
    <!--div class="button" data-bind="click: refresh">Musikliste initialisieren</div-->
    <div class="button" data-bind="click: discover">Discover</div>
    <div class="button" data-bind="click: restart">Restart Schlingel</div>
    <!--div class="button" data-bind="click: shoutdown">Rechner herunterfahren</div-->

</div>