
<div class="pivot" id="mypivot" data-control="pivot">

    
    <div class="pivot-item" 
        data-title="Favorites"
        data-options="view : '/views/streams/favorites.html', vm: 'favoritesVM'"></div>


    <div class="pivot-item" 
        data-title="Radio.de"
        data-options="view: '/views/streams/radio.html', vm: 'radioVM'"></div>

    <div class="pivot-item"
        data-title="Categories"
        data-options="view: '/views/streams/categories.html', vm: 'categoriesVM'"
    ></div>

    <div class="pivot-item"
        data-title="Top"
        data-options="view: '/views/streams/top.html', vm: 'topVM'"
    ></div>

    <div class="pivot-item"
        data-title="Recos"
        data-options="view: '/views/streams/recommendations.html', vm: 'recommendationsVM'"
    ></div>
</div>