
<div class="pivot" id="mypivot" data-control="pivot">

    
    <div class="pivot-item" 
        data-title="Favorites"
        data-options="view : '/views/tunein/tuneinFavorites.html', vm: 'tuneinFavoritesVM'"></div>


    <div class="pivot-item" 
        data-title="Search"
        data-options="view: '/views/tunein/tuneinSearch.html', vm: 'tuneinSearchVM'"></div>


    <div class="pivot-item" 
        data-title="Music"
        data-options="view: '/views/tunein/categories.html', vm: 'tuneinCategoriesVM'"></div>

    <div class="pivot-item" 
        data-title="Trending"
        data-options="view: '/views/tunein/trending.html', vm: 'tuneinTrendingVM'"></div>
</div>