<div class="page">
    <div class="page-header">
        <div class="page-header-content">
            <h1>Upload Your Favorit Track :)</h1>
        </div>
    </div>
    
    <!--input data-bind="value: filename" type="file" name="datafile" size="40"><br>
    <button data-bind="click: upload" >Upload</button>

    <form action="/upload.htm" enctype="multipart/form-data" method="post">
        File: <input type="file" id="fileA" name="datafile"><br>
        <input type="submit" data-bind="click: upload">Upload</input>
   </form>
    <progress id="progress" style="margin-top:10px"></progress> <span id="prozent"></span-->
</div>﻿
