

<div class="list clearboth" data-bind="foreach: categories">
    <div class="button" data-bind="click: $parent.opencategorie, text: text"></div>
</div>



<div class="list clearboth" data-bind="foreach: results">
    <div class="list-item">
        
        <div class="image">
            <img data-bind="attr: { src: image }" alt="" />    
        </div>
        
        <div class="content">
            <div data-bind="text: name"></div>
            <div data-bind="text: description"></div>
            <div>
                <div class="button" data-bind="click: $parent.playRadio">Play</div>
                <div class="button" data-bind="click: $parent.saveRadio">Save</div>
            </div>
        </div>
    </div>
</div>