
<input id="search" placeholder="Search Artist, Album, Song" type="search" data-bind="value: searchfilter, valueUpdate: 'afterkeyup'" />

<div class="pageing">
    <span class="" data-bind="click: pagePrev">Zurück </span>
    <span style="padding-left: 5px;" data-bind="text: from"></span>
    <span>- </span>
    <span data-bind="text: to"></span>
    <span>/</span>
    <span style="padding-right: 5px;" data-bind="text: count"></span>
    <span class="" data-bind="click: pageNext">Weiter</span>
</div>

<hr />


<!--div class="clearboth" data-bind="foreach: media">
    <div class="tile">
        <div class="tile-content" >
            <div data-bind="click: $parent.play">
                <p data-bind="text: artist"></p>
                <p data-bind="text: album"></p>
                <p data-bind="text: title"></p>
            </div>

            <div class="tile-bottom">
                <div class="vote" data-bind="click: $parent.voteit, visible: showVoting ">
                    <span>Play it next</span>
                </div>
            </div>
        </div>
    </div>
</div-->


<div class="list clearboth" data-bind="foreach: media">
    <div class="list-item" data-bind="click: $parent.play">
        
        <div class="image">
            <img data-bind="attr: { src: cover }" alt="" />    
        </div>
        
        <div class="content">
            <p data-bind="text: artist"></p>
            <p data-bind="text: album"></p>
            <p data-bind="text: title"></p>
        </div>
    </div>
</div>

<hr class="clearboth" />
<div class="pageing">
    <span class="" data-bind="click: pagePrev">Zurück </span>
    <span data-bind="text: from"></span>
    <span>- </span>
    <span data-bind="text: to"></span>
    <span class="" data-bind="click: pageNext">Weiter</span>
</div>
