
<input type="text" data-bind="value: searchTerm, event: { keyup: searchOnEnter }"></input>
<br />

<div style="padding-bottom: 10px;" class="button" data-bind="click: search">Suche</div>

<div data-bind="visible: showPaging" class="pageing">
    <span class="" data-bind="click: pagePrev">Zurück </span>
    <span class="" data-bind="click: pageNext">Weiter</span>
</div>

<!--div class="clearboth" data-bind="foreach: results">
    <div style="padding-bottom: 10px;">
            <img style="width: 150px;" data-bind="attr: { src: thumbnail }" alt="" />

            <div>
                <div data-bind="text: title"></div>
            </div>
            
            <button  data-bind="click: $parent.play">Play</button>
            <button  data-bind="visible: showPlayNext, click: $parent.playNext">Play Next</button>
    </div>
</div-->

<div class="list clearboth" data-bind="foreach: results">
    <div class="list-item">
        
        <div class="image">
            <img data-bind="attr: { src: thumbnail }" alt="" />    
        </div>
        
        <div class="content">
            <div data-bind="text: title"></div>
            <div>
                <div class="button" data-bind="click: $parent.play">Play</div>
                <div class="button" data-bind="visible: showPlayNext, click: $parent.playNext">Next</div>
            </div>
        </div>
    </div>
</div>

<div data-bind="visible: showPaging" class="pageing">
    <span class="" data-bind="click: pagePrev">Zurück </span>
    <span class="" data-bind="click: pageNext">Weiter</span>
</div>